-title = "Checking count for #{@website}"
-meta title: title
-cache ['v1', admin?,  @website] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
          %p 
            Our count:
            %span=@our_count
          %p 
            Their count:
            %span=@their_count
