- color = @game.location.tint
css:
  main a {
    border-color: #{color} !important;
    color: #{color};
  }

  body {
    color: #{color};
  }

  body.inverted {
    background-color: #{color};
    color: white;
  }

  body.inverted main a {
    border-color: white !important;
    color: white;
  }

  body.inverted .toolbar--bottom {
    background-color: #{color};
  }

  input {
    border-color: #{color};
  }

  input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 5px white;
    border: 3px solid white;
    outline: none;
  }

  body.inverted input {
    border-color: white;
    color: white;
  }

  .scavenger-hunt-logo {
    color: white;
  }
