-title = "Editing #{@user}"
-meta title: title
.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= "Change membership of #{membership.user}"
      = render partial: 'form'
