button
  appearance: none
  background: transparent
  border-width: 0
  display: inline-block
  font: inherit
  margin: 0
  position: absolute
  text-decoration: underline

button.button--inverted
  color: $background
