**.orig
*.rbc
*.sassc
.DS_Store
.DS_Store
.capybara.html
.sass-cache
.yardoc
coverage/
db/*.sqlite3
log
node_modules
pickle-email-*.html
public/assets/
public/system
rerun.txt
spec/tmp
storage/
tmp

## Environment normalisation:
.bundle
vendor/bundle

# Ignore application configuration
config/application.yml
config/credentials/production.key
config/credentials/staging.key
config/credentials/test.key


/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
