*.rbc
*.sassc
.sass-cache
.capybara.html
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/public/assets/
.yardoc

## Environment normalisation:
/.bundle
/vendor/bundle

#dotenv
.env
