**.orig
*.rbc
*.sassc
.DS_Store
.capybara.html
.sass-cache
.yardoc
coverage/
db/*.sqlite3
log
node_modules
pickle-email-*.html
public/assets/
public/system
rerun.txt
spec/tmp
storage/
tmp

## Environment normalisation:
.bundle
vendor/bundle

# Ignore application credentials
config/application.yml
config/credentials/production.key
config/credentials/staging.key
config/credentials/test.key

# Asset pipeline leftovers
.yarn-integrity
public/packs
public/packs-test
yarn-debug.log*
yarn-error.log

# RubyMine
.idea

# Docker
.env