-title = 'Editing Metum'
-meta title: title
-cache ['v1', admin?,  @metum] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1=title
        = render 'form'
