- meta title: title
.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}=title
      %table.entity-table
        %caption.sr-only Key value pairs for this metum
        %tbody
          %tr
            %th{scope: "row"}
              Title:
            %td
              = metum.title
          %tr
            %th{scope: "row"}
              Instructions:
            %td
              = metum.instructions

      %nav.show-nav{role:"navigation"}
        = link_to edit_organization_metum_path(current_organization,metum), title: "Edit this metum", class: 'btn btn-primary' do
          Edit this Metum
        %br
        = link_to organization_meta_path(current_organization), class: 'btn btn-info', title: "View the meta index" do
          View all Meta
