.contexts
  - if title
    %h4
      Assigned Users:
      %span.countable= assignments.count

  %ul.assignments
    - assignments.each do |assignment|
      %li.deletable
        = assignment.user
        - if organization_user.admin?
          = link_to [current_organization,assignment], title: "Delete this assignment", class: "quick-delete", :method => :delete, :remote => true do
            %i.fa.fa-times{"aria-hidden" => "true"}
