%table.index-table
  %caption.sr-only Index table for assignments
  %thead
    %tr
      %th{scope: "col"}
        User
      %th{scope: "col"}
        Image
      %th{scope: "col"}
        Actions

  %tbody
    - assignments.each_with_index do |assignment, idx|
      %tr{class: "item"}
        %td
          =link_to assignment.user, user_path(assignment.user)
        %td 
          =link_to assignment.image, image_path(assignment.image)
        %td.text-right
          = link_to assignment, class: "btn btn-show", title: "Show this assignment" do
            %i.fa.fa-fw.fa-eye{title: "Show"}
          = link_to edit_assignment_path(assignment), class: "btn btn-edit", title: "Edit this assignment"  do
            %i.fa.fa-fw.fa-pencil{title: "Edit"}
          = link_to assignment, title: "Delete this assignment" , class: "btn btn-delete",  :method => :delete, :data => { :confirm => "Are you sure you want to delete #{assignment}?"} do
            %i.fa.fa-fw.fa-trash{title: "Delete"}

