.paginated-wrap
  %table.table
    %caption.sr-only Index table for assignments
    %thead
      %tr
        %th{scope: "col"} User
        %th{scope: "col"} Assignments

    %tbody
      - Array(assigned_users).each do |user,assignment_count|
        %tr{class: "item"}
          %td
            = link_to user, user
          %td 
            = number_with_delimiter(assignment_count)
