-title = 'Assignments'
-meta title: title
- cache ['v1', admin?,  @assignments] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}
            #{title}: #{@assignments.total_count}

        %nav.index-nav{role:"navigation"}
          =paginate @assignments
          %h2.sr-only Actions
          = link_to new_assignment_path, class: 'btn btn-primary new-link' do
            %i.fa.fa-fw.fa-plus{"aria-hidden" => true}
            New Assignment

        =render "table", assignments: @assignments

        %nav.index-nav{role:"navigation"}
          =paginate @assignments
          %h2.sr-only Actions
          = link_to new_assignment_path, class: 'btn btn-primary new-link' do
            %i.fa.fa-fw.fa-plus{"aria-hidden" => true}
            New Assignment
