-title = 'Editing Status'
-meta title: title
-cache ['v1', admin?,  @status] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
      = render partial: 'form'
