-title = "Showing Status #{@status}"
-meta title: title
-cache ['v1', admin?,  @status] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this status
          %tbody
            %tr
              %th{scope: "row"}
                Title:
              %td
                = @status.title
        %nav.show-nav{role:"navigation"}
          = link_to statuses_path, class: 'btn btn-info', title: "View the statuses index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            Statuses
          = link_to edit_status_path(@status), title: "Edit this status", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
