#coyote-overlay
  .container
    #coyote-header
      %h1 Welcome to Coyote
      = link_to "Close", '#', onclick: "coyote_producer.closeFrame()", class: "bookmarklet-close"
    #coyote-items
    #coyote-footer
      %dl#info
        %dt
          Version
        %dd
          1.0
        %dt
          Root
        %dd
          = request.protocol + ENV["HOST"] + ENV["PORT"] + "/api/v1"
