%p You haven't been assigned any images.

- unless current_user.admin?
  %p 
    Ask an admin to assign you some images. Meanwhile, you can #{link_to("review some approved descriptions",descriptions_path(q: { status_id_eq: 2 }))}, 
    and #{link_to("start describing images",images_path)}.
