-title = 'Listing Descriptions'
-meta title: title
- cache ['v1', admin?,  @descriptions] do
  .index-outer
    .index
      .index-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}
            =title
            %span.badge
              =@descriptions.count

        %nav.index-nav{role:"navigation"}
          %h3.sr-only Pagination
          =paginate @descriptions
          %h3.sr-only Actions
          = link_to new_description_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Description

        =render "table", descriptions: @descriptions

        %nav.index-nav{role:"navigation"}
          %h3.sr-only Pagination
          =paginate @descriptions
          %h3.sr-only Actions
          = link_to new_description_path, class: 'btn btn-success new-link' do
            %i.fa.fa-fw.fa-plus{title: "Plus"}
            New Description
