-title = 'Descriptions'
-meta title: title
- cache ['v1', admin?,  @descriptions] do
  .index-outer
    .index
      .index-inner
        %header
          %h1#page-title{tabindex: -1}
            =title
            %span.sr-only ,
            %span.badge=@descriptions.total_count

        %nav.index-nav{role:"navigation"}
          
          -if @descriptions.total_pages > 1
            %h2.sr-only Pagination
            =paginate @descriptions
          -#%h2.sr-only Actions
          -#= link_to new_description_path, class: 'btn btn-success new-link' do
            -#%i.fa.fa-fw.fa-plus{title: "Plus"}
            -#New Description

        =render "table", descriptions: @descriptions

        %nav.index-nav{role:"navigation"}
          %h2.sr-only Pagination
          =paginate @descriptions
          -#%h2.sr-only Actions
          -#= link_to new_description_path, class: 'btn btn-success new-link' do
            -#%i.fa.fa-fw.fa-plus{title: "Plus"}
            -#New Description
