.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= title(user.to_s)
      %table.entity-table
        %caption.sr-only Key value pairs for this user
        %tbody
          %tr
            %th{scope: "row"}
              First name:
            %td
              = user.first_name
          %tr
            %th{scope: "row"}
              Last name:
            %td
              = user.last_name
