.card
  = link_to(resource) do
    = resource_link_target(resource,nil,class: 'card-img-top')

  .card-body
    = link_to new_organization_representation_path(current_organization,resource_id: resource.id), title: 'Create new representation for this resource', class: 'btn btn-primary' do
      Create Description
