.row
  .col
    %h2#ready_to_review.bg-dark.text-light.p-1 Descriptions Ready to Review
- if current_organization.ready_to_review_representations.any?
  .card-columns
    = render partial: 'organizations/dashboard/ready_to_review_representation_group', :collection => current_organization.ready_to_review_representations.first(50), :as => :representation
- else
  %p There are currently no representations in the 'Ready to Review' state for this orgnization

- content_for :javascript_footer do
  :javascript
    $('.representation_status_select').change(function(event) {
      var representationId = $(event.target).data('representationId');

      var data = {
        representation: {
          status: event.target.value
        }
      };

      var url = '#{representation_path('ID')}';
      url = url.replace(/ID$/,representationId);
      $.ajax({ type: 'PUT', url: url,data: data });
    })
