| Hello, #{invitation.recipient_email}:

| You have been invited to sign up for #{link_to(Rails.configuration.x.site_name,Rails.configuration.x.project_url)}
| by #{sender_name}. Please visit #{link_to(signup_link,signup_link)} to accept the invitation.

| Sincerely, Coyote
