-title = 'Welcome to Coyote'
-description = '' #no html
-thumb = '' #MUST HAVE A VALUE or should not be set
-keywords = %w{''}  #space separated keywords
-meta title: title,
  keywords: keywords,
  description: description,
  og: { title: title,
    description: description,
    image: thumb,
    url: request.url,
  }

.container
  .row
    .col-md-12
      %header{role: "header"}
      %h1 Welcome to Coyote
    .col-md-12
      =render "queue", queue: @queue

