- meta title: "Welcome to Coyote!"

.container
  .row
    .col-md-6
      %header
        %h1#page-title 
          Welcome to Coyote!
  .row
    .col-md-6
      :markdown
        The open-source Coyote software was developed by the Museum of Contemporary Art Chicago to support a distributed workflow for describing images in our web CMS and publishing those descriptions to our public website. The MCA team is creating both alt-text descriptions of 20–30 words, as well as much longer descriptions, particularly of collection works.
        Coyote offers role-based logins to facilitate image description tasks. Administrators approve, assign, and review descriptions. Cataloguers create descriptions from an assignment queue or select images to describe. To provide additional context for cataloguers, Coyote presents the image caption, where available. Coyote allows multiple cataloguers to describe an image; it also allows a single cataloguer to create multiple description–potentially in multiple languages–of the same image.
        More information about image description projects at the MCA and elsewhere is available at <a href="//www.coyote.pics" target="_blank">www.coyote.pics</a>, along with contact information for the project team. You can also view or hear image descriptions on the MCA website at <a href="//www.mcachicago.org" target="_blank">www.mcachicago.org</a>.

    .col-md-6
      %ul.list-group
        %li.list-group-item
          %a.btn.btn-primary.btn-block(href=new_user_session_path) Log in
