# Base app configuration
app:
  database_url: "postgres://postgres:postgres@localhost:5432"
  database_pool: 5
  host: "localhost:3000"
  name: "Coyote"
  project_url: "https://coyote.pics/"

# Configure AWS storage (optional)
aws:
  access_key_id: "ACCESS_KEY_ID"
  bucket: "BUCKET"
  region: "us-east-1"
  secret_access_key: "SECRET_ACCESS_KEY"

# Configure Azure storage (optional)
azure:
  access_key: "ACCESS_KEY"
  account_name: "ACCOUNT_NAME"
  container: "CONTAINER"

# Configure GCS storage and/or Google Analytics (optional)
google:
  analytics_id: "ANALYTICS_ID"
  bucket: "BUCKET"
  project: "PROJECT"

# Configure sending email. This defaults to a local mailcatcher configuration outside of production
mailer:
  authentication: "plain"
  domain: "coyote.example.org"
  enable_starttls_auto: false
  host: "localhost"
  password: ""
  port: 1025
  sender: "support@coyote.example.org"
  user: ""

# We use Sentry for error trapping. To enable it, add a DSN value. This will
# only be used in production environments (staging or live).
sentry:
  dsn: "DSN_HERE"

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: "0c46014ccd12dae8ddf7094d53d2e0befb9580f8a81ac95ba0f3f735acba275fa4999ff9aeac421d26a0ca4207072f13dd0ba6d540cb39b8fccff341091d3e66"

