# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
default: &default
  adapter: mysql2
  host: <%= ENV['DATABASE_HOST'] %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  database: <%= ENV['DATABASE_NAME'] %>
development: 
  <<: *default
staging:
  <<: *default
test: &test
  <<: *default
cucumber:
  <<: *test
production:
  <<: *default
  reconnect: true
  pool: 20

