-title = "Showing  #{@<%= singular_table_name %>}"
-meta title: title
-cache ['v1', admin?,  @<%= singular_table_name %>] do
  .entity-outer
    .entity
      .entity-inner
        %header{role: "header"}
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this <%= singular_table_name %>
          %tbody
<% for attribute in attributes -%>
            %tr
              %th{scope: "row"}<
                <%= attribute.human_name %>
              %td<
                = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %nav.show-nav{role:"navigation"}
          = link_to <%= index_helper %>_path, class: 'btn btn-info', title: "View the <%= plural_table_name%> index" do
            %i.fa.fa-fw.fa-list{title: 'List'}
            <%= plural_table_name.capitalize %>
          = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), title: "Edit this <%= singular_table_name %>", class: 'btn btn-primary' do
            %i.fa.fa-fw.fa-pencil{title: 'Pencil'}
            Edit
