-title = 'Editing Context'
-meta title: title
-cache ['v1',admin?,context] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        = render 'form'
