-title = "Showing context #{context}"
-meta title: title
-cache ['v1',organization_user.admin?,@context] do
  .entity-outer
    .entity
      .entity-inner
        %header
          %h1#page-title{tabindex: -1}=title
        %table.entity-table
          %caption.sr-only Key value pairs for this context
          %tbody
            %tr
              %th{scope: "row"}
                Title:
              %td
                = context.title
        %nav.show-nav{role:"navigation"}
          %ul.list-inline
            %li
              = link_to organization_contexts_path(current_organization, class: 'btn btn-info', title: "View the contexts index") do
                
                contexts
            %li
              = link_to edit_organization_context_path(current_organization,context), title: "Edit this context", class: 'btn btn-primary' do
                Edit
