= simple_form_for :assignment, url: assignments_path, html: { class: 'field form--inline' } do |f|
  = f.input_field :user_id, collection: users_for_select(assignable_users), label: false, prompt: "Assign to...", required: true, selected: ""
  = f.input_field :resource_id, as: :hidden, value: resource.id
  = f.submit "Assign", aria: { label: "Assign resource ##{resource.id}" }
