%table.table
  - representations.each do |representation|
    %tr
      %th #{link_to("Description ##{representation.id}",representation)} (#{representation.status})
    %tr
      %td #{representation.text}
