.entity-outer
  .entity
    .entity-inner
      %header
        %h1#page-title{tabindex: -1}= title "Editing resource #{resource.identifier}"
      = render partial: 'form', locals: { target: resource }
