.index-outer
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}
          = title 'Endpoint Management (Staff)'

      %table.index-table
        %caption.sr-only Index table for Endpoints
        %thead
          %tr
            %th{scope: "col"}<
              Name
            %th{scope: "col"}<
              Actions

        %tbody
          = render :partial => 'row', :collection => endpoints, :as => :endpoint

      = link_to 'Add New Endpoint', new_staff_endpoint_path, class: 'btn btn-primary new-link'
