// COMPONENT: Avatar: render a pretty image encapsulated in a round border
.avatar
  $avatar-size: 40px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  border: 1px solid $border
  border-radius: $avatar-size / 2
  height: $avatar-size
  margin: 0 $gutter 0 0
  vertical-align: middle
  width: $avatar-size
