// COMPONENT: Button: an interactive clickable element. Can be applied to
// BUTTON tags, A tags, and INPUT tags.
.button
  @extend %input-text
  background: $text
  border-color: $text
  color: $background
  cursor: pointer
  font-weight: bold
  text-decoration: none
  text-transform: uppercase

  &.button--secondary
    @extend %input-secondary

  &:focus, &:hover, &.button--secondary:focus, &.button--secondary:hover
    background-color: $tint
    border-color: $tint
    color: $background

  @each $name, $color in $status
    &.button--#{$name}
      background-color: $color

      &.button--secondary
        background-color: $background
        border-color: $color
        color: $color

        &:hover
          background-color: $color
          color: $background
