// CODE COMPONENT: used for displaying code in a mono-spaced format

code
  background-color: $input
  border-radius: $radius
  color: $text
  font-family: $font-family-mono
  margin-bottom: $gutter
  padding: 0 $input-padding

  &.code--block
    display: block
    overflow: auto
    padding: $gutter
    white-space: nowrap
