// CODE COMPONENT: used for displaying code in a mono-spaced format

code
  background-color: $input
  border-radius: $radius
  color: $text
  font-family: $font-family-mono
  padding: 0 $gutter / 1.5

  &.code-block
    display: block
    overflow: auto
    white-space: nowrap
