.collapse
  display: block

  .collapse-toggle
    cursor: pointer
    display: flex
    font-weight: bold

    .icon-chevron-right-outline
      flex: 0
      transition: transform 250ms

    .collapse-toggle-label
      flex: 1
      margin-left: $input-padding

  .collapse-content
    display: none

  &.collapse--toggled
    .collapse-toggle .icon-chevron-right-outline
      transform: rotate(90deg)

    .collapse-content
      display: block
