%container
  margin: 0 auto
  max-width: 1024px + $checkbox-strike-area * 2
  padding-left: $checkbox-strike-area
  padding-right: $checkbox-strike-area

%container-wide
  margin: 0 auto
  max-width: 1280px
