// COMPONENT: Heading: used to define document structure and provide visual
// cues as to content flow. Namespaced via tag name rather than class name.
h1, h2, h3, h4, h5, h6
  &:not([class])
    color: $text-dark
    font-family: $font-family-text
    font-size: $font-size
    letter-spacing: -0.03em
    margin: $gutter 0
    word-break: break-word
    word-wrap: break-word

h1:not([class])
  font-size: $h1-size
  font-weight: 700
  line-height: $heading-line-height
  margin-bottom: 1em

h2:not([class])
  $spacing: $h1-size - $h2-size + 2px

  font-size: $h2-size
  font-weight: 600
  line-height: $heading-line-height - $spacing
  padding-top: $spacing

h3:not([class])
  $spacing: $h1-size - $h2-size + 2px

  font-size: $h2-size
  font-weight: bold
  line-height: $heading-line-height - $spacing
  padding-top: $spacing
