@font-face
  font-family: "Eva-Icons"
  src: asset-url("Eva-Icons.eot")
  src: asset-url("Eva-Icons.eot?#iefix") format("embedded-opentype"), asset-url("Eva-Icons.woff2") format("woff2"), asset-url("Eva-Icons.woff") format("woff"), asset-url("Eva-Icons.ttf") format("truetype"), asset-url("Eva-Icons.svg#Eva-Icons") format("svg")
  font-style: normal
  font-weight: 400

*[class^="icon-"]
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  display: inline-block
  font-family: "Eva-Icons"
  font-size: 120%
  font-style: normal
  font-variant: normal
  font-weight: normal
  speak: none
  text-rendering: auto
  text-transform: none
  transform: translate(0, 0)
  vertical-align: top

.icon-lg
  vertical-align: -15%
  line-height: 0.75em
  font-size: 1.33333333em

.icon-2x
  font-size: 2em

.icon-3x
  font-size: 3em

.icon-4x
  font-size: 4em

.icon-5x
  font-size: 5em

.icon-fw
  width: 1.28571429em
  text-align: center

.icon-activity::before
  content: ""

.icon-activity-outline::before
  content: ""

.icon-alert-circle::before
  content: ""

.icon-alert-circle-outline::before
  content: ""

.icon-alert-triangle::before
  content: ""

.icon-alert-triangle-outline::before
  content: ""

.icon-archive::before
  content: ""

.icon-archive-outline::before
  content: ""

.icon-arrow-back::before
  content: ""

.icon-arrow-back-outline::before
  content: ""

.icon-arrow-circle-down::before
  content: ""

.icon-arrow-circle-down-outline::before
  content: ""

.icon-arrow-circle-left::before
  content: ""

.icon-arrow-circle-left-outline::before
  content: ""

.icon-arrow-circle-right::before
  content: ""

.icon-arrow-circle-right-outline::before
  content: ""

.icon-arrow-circle-up::before
  content: ""

.icon-arrow-circle-up-outline::before
  content: ""

.icon-arrow-down::before
  content: ""

.icon-arrow-down-outline::before
  content: ""

.icon-arrow-downward::before
  content: ""

.icon-arrow-downward-outline::before
  content: ""

.icon-arrow-forward::before
  content: ""

.icon-arrow-forward-outline::before
  content: ""

.icon-arrow-ios-back::before
  content: ""

.icon-arrow-ios-back-outline::before
  content: ""

.icon-arrow-ios-downward::before
  content: ""

.icon-arrow-ios-downward-outline::before
  content: ""

.icon-arrow-ios-forward::before
  content: ""

.icon-arrow-ios-forward-outline::before
  content: ""

.icon-arrow-ios-upward::before
  content: ""

.icon-arrow-ios-upward-outline::before
  content: ""

.icon-arrow-left::before
  content: ""

.icon-arrow-left-outline::before
  content: ""

.icon-arrow-right::before
  content: ""

.icon-arrow-right-outline::before
  content: ""

.icon-arrow-up::before
  content: ""

.icon-arrow-up-outline::before
  content: ""

.icon-arrow-upward::before
  content: ""

.icon-arrow-upward-outline::before
  content: ""

.icon-arrowhead-down::before
  content: ""

.icon-arrowhead-down-outline::before
  content: ""

.icon-arrowhead-left::before
  content: ""

.icon-arrowhead-left-outline::before
  content: ""

.icon-arrowhead-right::before
  content: ""

.icon-arrowhead-right-outline::before
  content: ""

.icon-arrowhead-up::before
  content: ""

.icon-arrowhead-up-outline::before
  content: ""

.icon-at::before
  content: ""

.icon-at-outline::before
  content: ""

.icon-attach::before
  content: ""

.icon-attach-2::before
  content: ""

.icon-attach-2-outline::before
  content: ""

.icon-attach-outline::before
  content: ""

.icon-award::before
  content: ""

.icon-award-outline::before
  content: ""

.icon-backspace::before
  content: ""

.icon-backspace-outline::before
  content: ""

.icon-bar-chart::before
  content: ""

.icon-bar-chart-2::before
  content: ""

.icon-bar-chart-2-outline::before
  content: ""

.icon-bar-chart-outline::before
  content: ""

.icon-battery::before
  content: ""

.icon-battery-outline::before
  content: ""

.icon-behance::before
  content: ""

.icon-behance-outline::before
  content: ""

.icon-bell::before
  content: ""

.icon-bell-off::before
  content: ""

.icon-bell-off-outline::before
  content: ""

.icon-bell-outline::before
  content: ""

.icon-bluetooth::before
  content: ""

.icon-bluetooth-outline::before
  content: ""

.icon-book::before
  content: ""

.icon-book-open::before
  content: ""

.icon-book-open-outline::before
  content: ""

.icon-book-outline::before
  content: ""

.icon-bookmark::before
  content: ""

.icon-bookmark-outline::before
  content: ""

.icon-briefcase::before
  content: ""

.icon-briefcase-outline::before
  content: ""

.icon-browser::before
  content: ""

.icon-browser-outline::before
  content: ""

.icon-brush::before
  content: ""

.icon-brush-outline::before
  content: ""

.icon-bulb::before
  content: ""

.icon-bulb-outline::before
  content: ""

.icon-calendar::before
  content: ""

.icon-calendar-outline::before
  content: ""

.icon-camera::before
  content: ""

.icon-camera-outline::before
  content: ""

.icon-car::before
  content: ""

.icon-car-outline::before
  content: ""

.icon-cast::before
  content: ""

.icon-cast-outline::before
  content: ""

.icon-charging::before
  content: ""

.icon-charging-outline::before
  content: ""

.icon-checkmark::before
  content: ""

.icon-checkmark-circle::before
  content: ""

.icon-checkmark-circle-2::before
  content: ""

.icon-checkmark-circle-2-outline::before
  content: ""

.icon-checkmark-circle-outline::before
  content: ""

.icon-checkmark-outline::before
  content: ""

.icon-checkmark-square::before
  content: ""

.icon-checkmark-square-2::before
  content: ""

.icon-checkmark-square-2-outline::before
  content: ""

.icon-checkmark-square-outline::before
  content: ""

.icon-chevron-down::before
  content: ""

.icon-chevron-down-outline::before
  content: ""

.icon-chevron-left::before
  content: ""

.icon-chevron-left-outline::before
  content: ""

.icon-chevron-right::before
  content: ""

.icon-chevron-right-outline::before
  content: ""

.icon-chevron-up::before
  content: ""

.icon-chevron-up-outline::before
  content: ""

.icon-clipboard::before
  content: ""

.icon-clipboard-outline::before
  content: ""

.icon-clock::before
  content: ""

.icon-clock-outline::before
  content: ""

.icon-close::before
  content: ""

.icon-close-circle::before
  content: ""

.icon-close-circle-outline::before
  content: ""

.icon-close-outline::before
  content: ""

.icon-close-square::before
  content: ""

.icon-close-square-outline::before
  content: ""

.icon-cloud-download::before
  content: ""

.icon-cloud-download-outline::before
  content: ""

.icon-cloud-upload::before
  content: ""

.icon-cloud-upload-outline::before
  content: ""

.icon-code::before
  content: ""

.icon-code-download::before
  content: ""

.icon-code-download-outline::before
  content: ""

.icon-code-outline::before
  content: ""

.icon-collapse::before
  content: ""

.icon-collapse-outline::before
  content: ""

.icon-color-palette::before
  content: ""

.icon-color-palette-outline::before
  content: ""

.icon-color-picker::before
  content: ""

.icon-color-picker-outline::before
  content: ""

.icon-compass::before
  content: ""

.icon-compass-outline::before
  content: ""

.icon-copy::before
  content: ""

.icon-copy-outline::before
  content: ""

.icon-corner-down-left::before
  content: ""

.icon-corner-down-left-outline::before
  content: ""

.icon-corner-down-right::before
  content: ""

.icon-corner-down-right-outline::before
  content: ""

.icon-corner-left-down::before
  content: ""

.icon-corner-left-down-outline::before
  content: ""

.icon-corner-left-up::before
  content: ""

.icon-corner-left-up-outline::before
  content: ""

.icon-corner-right-down::before
  content: ""

.icon-corner-right-down-outline::before
  content: ""

.icon-corner-right-up::before
  content: ""

.icon-corner-right-up-outline::before
  content: ""

.icon-corner-up-left::before
  content: ""

.icon-corner-up-left-outline::before
  content: ""

.icon-corner-up-right::before
  content: ""

.icon-corner-up-right-outline::before
  content: ""

.icon-credit-card::before
  content: ""

.icon-credit-card-outline::before
  content: ""

.icon-crop::before
  content: ""

.icon-crop-outline::before
  content: ""

.icon-cube::before
  content: ""

.icon-cube-outline::before
  content: ""

.icon-diagonal-arrow-left-down::before
  content: ""

.icon-diagonal-arrow-left-down-outline::before
  content: ""

.icon-diagonal-arrow-left-up::before
  content: ""

.icon-diagonal-arrow-left-up-outline::before
  content: ""

.icon-diagonal-arrow-right-down::before
  content: ""

.icon-diagonal-arrow-right-down-outline::before
  content: ""

.icon-diagonal-arrow-right-up::before
  content: ""

.icon-diagonal-arrow-right-up-outline::before
  content: ""

.icon-done-all::before
  content: ""

.icon-done-all-outline::before
  content: ""

.icon-download::before
  content: ""

.icon-download-outline::before
  content: ""

.icon-droplet::before
  content: ""

.icon-droplet-off::before
  content: ""

.icon-droplet-off-outline::before
  content: ""

.icon-droplet-outline::before
  content: ""

.icon-edit::before
  content: ""

.icon-edit-2::before
  content: ""

.icon-edit-2-outline::before
  content: ""

.icon-edit-outline::before
  content: ""

.icon-email::before
  content: ""

.icon-email-outline::before
  content: ""

.icon-expand::before
  content: ""

.icon-expand-outline::before
  content: ""

.icon-external-link::before
  content: ""

.icon-external-link-outline::before
  content: ""

.icon-eye::before
  content: ""

.icon-eye-off::before
  content: ""

.icon-eye-off-2::before
  content: ""

.icon-eye-off-2-outline::before
  content: ""

.icon-eye-off-outline::before
  content: ""

.icon-eye-outline::before
  content: ""

.icon-facebook::before
  content: ""

.icon-facebook-outline::before
  content: ""

.icon-file::before
  content: ""

.icon-file-add::before
  content: ""

.icon-file-add-outline::before
  content: ""

.icon-file-outline::before
  content: ""

.icon-file-remove::before
  content: ""

.icon-file-remove-outline::before
  content: ""

.icon-file-text::before
  content: ""

.icon-file-text-outline::before
  content: ""

.icon-film::before
  content: ""

.icon-film-outline::before
  content: ""

.icon-flag::before
  content: ""

.icon-flag-outline::before
  content: ""

.icon-flash::before
  content: ""

.icon-flash-off::before
  content: ""

.icon-flash-off-outline::before
  content: ""

.icon-flash-outline::before
  content: ""

.icon-flip::before
  content: ""

.icon-flip-2::before
  content: ""

.icon-flip-2-outline::before
  content: ""

.icon-flip-outline::before
  content: ""

.icon-folder::before
  content: ""

.icon-folder-add::before
  content: ""

.icon-folder-add-outline::before
  content: ""

.icon-folder-outline::before
  content: ""

.icon-folder-remove::before
  content: ""

.icon-folder-remove-outline::before
  content: ""

.icon-funnel::before
  content: ""

.icon-funnel-outline::before
  content: ""

.icon-gift::before
  content: ""

.icon-gift-outline::before
  content: ""

.icon-github::before
  content: ""

.icon-github-outline::before
  content: ""

.icon-globe::before
  content: ""

.icon-globe-2::before
  content: ""

.icon-globe-2-outline::before
  content: ""

.icon-globe-3::before
  content: ""

.icon-globe-outline::before
  content: ""

.icon-google::before
  content: ""

.icon-google-outline::before
  content: ""

.icon-grid::before
  content: ""

.icon-grid-outline::before
  content: ""

.icon-hard-drive::before
  content: ""

.icon-hard-drive-outline::before
  content: ""

.icon-hash::before
  content: ""

.icon-hash-outline::before
  content: ""

.icon-headphones::before
  content: ""

.icon-headphones-outline::before
  content: ""

.icon-heart::before
  content: ""

.icon-heart-outline::before
  content: ""

.icon-home::before
  content: ""

.icon-home-outline::before
  content: ""

.icon-image::before
  content: ""

.icon-image-2::before
  content: ""

.icon-image-outline::before
  content: ""

.icon-inbox::before
  content: ""

.icon-inbox-outline::before
  content: ""

.icon-info::before
  content: ""

.icon-info-outline::before
  content: ""

.icon-keypad::before
  content: ""

.icon-keypad-outline::before
  content: ""

.icon-layers::before
  content: ""

.icon-layers-outline::before
  content: ""

.icon-layout::before
  content: ""

.icon-layout-outline::before
  content: ""

.icon-link::before
  content: ""

.icon-link-2::before
  content: ""

.icon-link-2-outline::before
  content: ""

.icon-link-outline::before
  content: ""

.icon-linkedin::before
  content: ""

.icon-linkedin-outline::before
  content: ""

.icon-list::before
  content: ""

.icon-list-outline::before
  content: ""

.icon-loader-outline::before
  content: ""

.icon-lock::before
  content: ""

.icon-lock-outline::before
  content: ""

.icon-log-in::before
  content: ""

.icon-log-in-outline::before
  content: ""

.icon-log-out::before
  content: ""

.icon-log-out-outline::before
  content: ""

.icon-map::before
  content: ""

.icon-map-outline::before
  content: ""

.icon-maximize::before
  content: ""

.icon-maximize-outline::before
  content: ""

.icon-menu::before
  content: ""

.icon-menu-2::before
  content: ""

.icon-menu-2-outline::before
  content: ""

.icon-menu-arrow::before
  content: ""

.icon-menu-arrow-outline::before
  content: ""

.icon-menu-outline::before
  content: ""

.icon-message-circle::before
  content: ""

.icon-message-circle-outline::before
  content: ""

.icon-message-square::before
  content: ""

.icon-message-square-outline::before
  content: ""

.icon-mic::before
  content: ""

.icon-mic-off::before
  content: ""

.icon-mic-off-outline::before
  content: ""

.icon-mic-outline::before
  content: ""

.icon-minimize::before
  content: ""

.icon-minimize-outline::before
  content: ""

.icon-minus::before
  content: ""

.icon-minus-circle::before
  content: ""

.icon-minus-circle-outline::before
  content: ""

.icon-minus-outline::before
  content: ""

.icon-minus-square::before
  content: ""

.icon-minus-square-outline::before
  content: ""

.icon-monitor::before
  content: ""

.icon-monitor-outline::before
  content: ""

.icon-moon::before
  content: ""

.icon-moon-outline::before
  content: ""

.icon-more-horizontal::before
  content: ""

.icon-more-horizontal-outline::before
  content: ""

.icon-more-vertical::before
  content: ""

.icon-more-vertical-outline::before
  content: ""

.icon-move::before
  content: ""

.icon-move-outline::before
  content: ""

.icon-music::before
  content: ""

.icon-music-outline::before
  content: ""

.icon-navigation::before
  content: ""

.icon-navigation-2::before
  content: ""

.icon-navigation-2-outline::before
  content: ""

.icon-navigation-outline::before
  content: ""

.icon-npm::before
  content: ""

.icon-npm-outline::before
  content: ""

.icon-options::before
  content: ""

.icon-options-2::before
  content: ""

.icon-options-2-outline::before
  content: ""

.icon-options-outline::before
  content: ""

.icon-pantone::before
  content: ""

.icon-pantone-outline::before
  content: ""

.icon-paper-plane::before
  content: ""

.icon-paper-plane-outline::before
  content: ""

.icon-pause-circle::before
  content: ""

.icon-pause-circle-outline::before
  content: ""

.icon-people::before
  content: ""

.icon-people-outline::before
  content: ""

.icon-percent::before
  content: ""

.icon-percent-outline::before
  content: ""

.icon-person::before
  content: ""

.icon-person-add::before
  content: ""

.icon-person-add-outline::before
  content: ""

.icon-person-delete::before
  content: ""

.icon-person-delete-outline::before
  content: ""

.icon-person-done::before
  content: ""

.icon-person-done-outline::before
  content: ""

.icon-person-outline::before
  content: ""

.icon-person-remove::before
  content: ""

.icon-person-remove-outline::before
  content: ""

.icon-phone::before
  content: ""

.icon-phone-call::before
  content: ""

.icon-phone-call-outline::before
  content: ""

.icon-phone-missed::before
  content: ""

.icon-phone-missed-outline::before
  content: ""

.icon-phone-off::before
  content: ""

.icon-phone-off-outline::before
  content: ""

.icon-phone-outline::before
  content: ""

.icon-pie-chart::before
  content: ""

.icon-pie-chart-2::before
  content: ""

.icon-pie-chart-outline::before
  content: ""

.icon-pin::before
  content: ""

.icon-pin-outline::before
  content: ""

.icon-play-circle::before
  content: ""

.icon-play-circle-outline::before
  content: ""

.icon-plus::before
  content: ""

.icon-plus-circle::before
  content: ""

.icon-plus-circle-outline::before
  content: ""

.icon-plus-outline::before
  content: ""

.icon-plus-square::before
  content: ""

.icon-plus-square-outline::before
  content: ""

.icon-power::before
  content: ""

.icon-power-outline::before
  content: ""

.icon-pricetags::before
  content: ""

.icon-pricetags-outline::before
  content: ""

.icon-printer::before
  content: ""

.icon-printer-outline::before
  content: ""

.icon-question-mark::before
  content: ""

.icon-question-mark-circle::before
  content: ""

.icon-question-mark-circle-outline::before
  content: ""

.icon-question-mark-outline::before
  content: ""

.icon-radio::before
  content: ""

.icon-radio-button-off::before
  content: ""

.icon-radio-button-off-outline::before
  content: ""

.icon-radio-button-on::before
  content: ""

.icon-radio-button-on-outline::before
  content: ""

.icon-radio-outline::before
  content: ""

.icon-recording::before
  content: ""

.icon-recording-outline::before
  content: ""

.icon-refresh::before
  content: ""

.icon-refresh-outline::before
  content: ""

.icon-repeat::before
  content: ""

.icon-repeat-outline::before
  content: ""

.icon-rewind-left::before
  content: ""

.icon-rewind-left-outline::before
  content: ""

.icon-rewind-right::before
  content: ""

.icon-rewind-right-outline::before
  content: ""

.icon-save::before
  content: ""

.icon-save-outline::before
  content: ""

.icon-scissors::before
  content: ""

.icon-scissors-outline::before
  content: ""

.icon-search::before
  content: ""

.icon-search-outline::before
  content: ""

.icon-settings::before
  content: ""

.icon-settings-2::before
  content: ""

.icon-settings-2-outline::before
  content: ""

.icon-settings-outline::before
  content: ""

.icon-shake::before
  content: ""

.icon-shake-outline::before
  content: ""

.icon-share::before
  content: ""

.icon-share-outline::before
  content: ""

.icon-shield::before
  content: ""

.icon-shield-off::before
  content: ""

.icon-shield-off-outline::before
  content: ""

.icon-shield-outline::before
  content: ""

.icon-shopping-bag::before
  content: ""

.icon-shopping-bag-outline::before
  content: ""

.icon-shopping-cart::before
  content: ""

.icon-shopping-cart-outline::before
  content: ""

.icon-shuffle::before
  content: ""

.icon-shuffle-2::before
  content: ""

.icon-shuffle-2-outline::before
  content: ""

.icon-shuffle-outline::before
  content: ""

.icon-skip-back::before
  content: ""

.icon-skip-back-outline::before
  content: ""

.icon-skip-forward::before
  content: ""

.icon-skip-forward-outline::before
  content: ""

.icon-slash::before
  content: ""

.icon-slash-outline::before
  content: ""

.icon-smartphone::before
  content: ""

.icon-smartphone-outline::before
  content: ""

.icon-smiling-face::before
  content: ""

.icon-smiling-face-outline::before
  content: ""

.icon-speaker::before
  content: ""

.icon-speaker-outline::before
  content: ""

.icon-square::before
  content: ""

.icon-square-outline::before
  content: ""

.icon-star::before
  content: ""

.icon-star-outline::before
  content: ""

.icon-stop-circle::before
  content: ""

.icon-stop-circle-outline::before
  content: ""

.icon-sun::before
  content: ""

.icon-sun-outline::before
  content: ""

.icon-swap::before
  content: ""

.icon-swap-outline::before
  content: ""

.icon-sync::before
  content: ""

.icon-sync-outline::before
  content: ""

.icon-text::before
  content: ""

.icon-text-outline::before
  content: ""

.icon-thermometer::before
  content: ""

.icon-thermometer-minus::before
  content: ""

.icon-thermometer-minus-outline::before
  content: ""

.icon-thermometer-outline::before
  content: ""

.icon-thermometer-plus::before
  content: ""

.icon-thermometer-plus-outline::before
  content: ""

.icon-toggle-left::before
  content: ""

.icon-toggle-left-outline::before
  content: ""

.icon-toggle-right::before
  content: ""

.icon-toggle-right-outline::before
  content: ""

.icon-trash::before
  content: ""

.icon-trash-2::before
  content: ""

.icon-trash-2-outline::before
  content: ""

.icon-trash-outline::before
  content: ""

.icon-trending-down::before
  content: ""

.icon-trending-down-outline::before
  content: ""

.icon-trending-up::before
  content: ""

.icon-trending-up-outline::before
  content: ""

.icon-tv::before
  content: ""

.icon-tv-outline::before
  content: ""

.icon-twitter::before
  content: ""

.icon-twitter-outline::before
  content: ""

.icon-umbrella::before
  content: ""

.icon-umbrella-outline::before
  content: ""

.icon-undo::before
  content: ""

.icon-undo-outline::before
  content: ""

.icon-unlock::before
  content: ""

.icon-unlock-outline::before
  content: ""

.icon-upload::before
  content: ""

.icon-upload-outline::before
  content: ""

.icon-video::before
  content: ""

.icon-video-off::before
  content: ""

.icon-video-off-outline::before
  content: ""

.icon-video-outline::before
  content: ""

.icon-volume-down::before
  content: ""

.icon-volume-down-outline::before
  content: ""

.icon-volume-mute::before
  content: ""

.icon-volume-mute-outline::before
  content: ""

.icon-volume-off::before
  content: ""

.icon-volume-off-outline::before
  content: ""

.icon-volume-up::before
  content: ""

.icon-volume-up-outline::before
  content: ""

.icon-wifi::before
  content: ""

.icon-wifi-off::before
  content: ""

.icon-wifi-off-outline::before
  content: ""

.icon-wifi-outline::before
  content: ""
