// INPUT BASE COMPONENT: draws the basics of an input
%input-base
  appearance: none
  border-style: solid
  border-width: 1px
  display: inline-block
  margin: 0 $input-padding 0 0

  &:focus
    position: relative

  &[disabled]
    background-color: $input
    color: $placeholder
    cursor: no-drop

%input-text
  @extend %input-base
  border-radius: $radius
  font-family: $font-family-text
  font-size: $font-size
  height: $input-height
  line-height: $input-height - 2px
  padding: 0 $input-padding
  vertical-align: top

// INPUT (SECONDARY) COMPONENT: Secondary inputs have a specific styling
%input-secondary
  background: $background
  border-color: $placeholder
  color: $text
