.list
  .list-item
    align-items: center
    border-top: 1px solid $border
    display: flex
    justify-content: space-between
    padding: $gutter

    .list-item-select, .list-item-body
      margin-right: $gutter

    .list-item-select
      flex: 0
      white-space: nowrap

      *
        vertical-align: top

    .list-item-body


    .list-item-actions
      white-space: nowrap

      .button:last-child
        margin-bottom: 0
        margin-right: 0
