// COMPONENT: Media utilities: used to hide content outside of its intended
// media context
+medium-screen
  .large-screen-only
    display: none !important
    speak: none


+small-screen
  .larger-than-small-screen
    display: none !important
    speak: none
