// NOTIFICATION COMPONENT: Used to notify the user when state has changed in a
// significant way
.notification
  background-color: rgba($text, 0.7)
  border-radius: $radius
  color: $background
  display: flex
  margin-bottom: $gutter

  .notification-title, .notification-dismiss
    padding: $gutter

  .notification-title
    flex: 1

  .notification-dismiss
    appearance: none
    background-color: $text
    border: 1px solid $text
    color: inherit
    cursor: pointer
    display: block
    text-decoration: none

    &::after
      content: '\2715'

    &:hover
      color: $background

  @each $name, $color in $status
    &.notification--#{$name}
      background-color: rgba($color, 0.9)

      .notification-dismiss
        background-color: $color
        border-color: $color

// NOTIFICATIONS COMPONENT: Contains notifications in an Android "toast" style way
#notifications
  left: $gutter
  position: fixed
  top: $gutter

  @include mobile
    bottom: $gutter
    right: $gutter
    top: auto

  .notification
    box-shadow: rgba(black, 0.3) 0 0 $gutter / 2
