// COMPONENT: Segmented Control: allows for toggling between two or more states
.segmented-control
  @extend %input-fixed-height

  align-items: stretch
  border-color: $border
  display: inline-flex

  &--scrollable
    overflow: auto

  .segmented-control-item
    .segmented-control-item-label
      display: inline-block
      margin-left: $input-padding

      +desktop
        &:first-child
          margin-left: 0


      +non-desktop
        display: none

    .segmented-control-item-icon
      +desktop
        display: none

        + .segmented-control-item-label
          margin-left: 0

    > *
      border-right: 1px solid $border
      cursor: pointer
      display: inline-block
      height: 100%
      padding: 0 round($input-padding * 1.5)
      text-decoration: none
      white-space: nowrap

      &:focus
        position: relative

      &[aria-pressed=true], &.segmented-control-item--active
        background-color: $placeholder
        border-color: $placeholder
        color: $text-light
        position: relative

    &:last-child > *
      border-right-width: 0

    &--collapse
      +non-desktop
        display: none

    + .segmented-control-item
      margin-left: -1px
