// COMPONENT: Segmented Control: allows for toggling between two or more states
.segmented-control
  display: inline-flex
  margin-bottom: $gutter

  .segmented-control-item
    > *
      border: 1px solid $border
      cursor: pointer
      padding: $input-padding
      text-decoration: none

      &:focus
        position: relative

      &:hover
        background-color: $border

      &[aria-pressed=true]
        border-color: $tint
        color: $tint
        position: relative

    + .segmented-control-item
      margin-left: -1px

