// COMPONENT: Split view (50/50 on desktop; stacks on mobile)
.split-view
  @include non-mobile
    display: flex

    .split-view-item
      flex: 1

      &:first-child
        padding-right: $gutter

      &:last-child
        padding-left: $gutter
