// COMPONENT: Table: used for presenting tabular data (duh; you know what this
// is). Namespaced via tag name rather than class name.
table
  border-collapse: collapse
  display: table
  width: 100%

  caption
    text-align: left

  tr
    height: 100%

    &.table-row-link
      &:hover
        background-color: $input

  th, td
    padding: $gutter
    vertical-align: middle

    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

    &.table-cell-nowrap
      white-space: nowrap

    &.table-cell-actions
      text-align: right
      vertical-align: top
      white-space: nowrap
      width: 10px

      > *
        display: inline-block

      .button:last-child, > *:last-child .button
        margin-bottom: 0
        margin-right: 0

    &.table-cell-link
      cursor: pointer
      height: 100%
      padding: 0
      position: relative

      a
        display: inline-block
        padding: $gutter
        text-decoration: none

        &,
        &:focus,
        &:hover
          box-shadow: none
          color: $text

        &:after
          bottom: 0
          content: ""
          left: 0
          position: absolute
          right: 0
          top: 0

        &:first-child
          padding-left: 0

        &:last-child
          padding-right: 0

      &.table-cell-link--text a
        text-decoration: none

    &.table-cell-primary
      font-weight: bold

    &.table-cell-select
      // white-space: nowrap

      label
        display: flex

      input
        vertical-align: top

  th
    color: $text-dark
    font-size: $font-size-control
    font-weight: bold
    text-align: left
    text-transform: uppercase
    white-space: nowrap

  tbody
    tr
      border-top: 1px solid $border

      &.table-row-disabled
        td
          color: $placeholder

      +non-mobile
        th
          padding-right: $gutter
          width: 10px
          white-space: nowrap

          ~ td
            padding-left: $gutter
            word-break: break-word


      +mobile
        th
          display: block

          + td
            display: block
            padding-top: 0
            word-break: break-all

.table-wrapper
  max-width: 100%
  overflow: auto
