// COMPONENT: Tag list: a list of tags
.tag-list
  +non-mobile
    display: flex

    .tag
      margin-bottom: 0


  &:not(:last-child)
    margin-bottom: $gutter

// COMPONENT: Tag: a piece of status text rendered to make visually distinguish
// itself
.tag
  background-color: $input
  border-radius: $border-radius
  color: $text
  font-size: $font-size-small
  font-weight: bold
  display: inline-block
  margin: 0 $input-padding $input-padding 0
  padding: ($input-padding / 2) $input-padding
  text-align: center
  text-decoration: none
  text-transform: uppercase

  &:first-child:last-child
    margin: 0

  &:after
    @extend .sr

    content: ", "

  &:last-of-type:after
    content: ""
    display: none

  &.tag--outline
    background-color: $input
    color: $text

  @each $name, $color in $status
    $background: lighten($color, 45%)
    $text: darken($color, 25%)

    &.tag--#{$name}
      background-color: $background
      border-color: $background
      color: $text

      // &.tag--outline
      //   background-color: lighten($color, 40%)
