// COMPONENT: Text input: basic form elements. Namespaced via tag name rather
// than class name.
#{$text-inputs}, textarea
  @extend %input-text
  border-color: $border

  &::placeholder
    color: $placeholder

textarea
  height: auto
