// TEXT INPUT COMPONENT: Basic form elements
// Rather than targeting a class namespace, we style these elements universally
#{$text-inputs}, textarea
  @extend %input-text
  border-color: $placeholder

  &::placeholder
    color: $placeholder

textarea
  height: auto
