.timeline
  border-left: 1px solid $border
  margin: 0 0 $gutter $gutter
  padding: $gutter 0 0 $gutter

  .timeline-item
    background-color: $input
    border: 1px solid $border
    margin: 0 0 $gutter (-$gutter * 2)
    padding: $gutter * 2
    position: relative
    // margin-right: -$gutter * 2