// COMPONENT: Toolbar: lays out a stack of controls that influence other items
.toolbar
  align-items: center
  border-top: 1px solid $border
  display: flex
  justify-content: space-between
  padding: $gutter
