#easymarklet_div{
  width: 100%;
  height: 100% !important;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  z-index: 100000;
}
#easymarklet_div iframe{
  height: 100% !important;
}
