//http://thesassway.com/beginner/how-to-structure-a-sass-project
//home
$red:#ff0000
$black: #000000
$slide-inset: 5%
.slide
  width: 100%
  position: relative
  &.has-image
    img
      width: 100%
    .title
      position: absolute
      bottom: $slide-inset
      right: $slide-inset
  &.has-no-image
    .title
      top: $slide-inset
      left: $slide-inset
      position: absolute

caption
  ul
    list-style: none
dt, th
  font-weight: bold
dd
  margin-bottom: 1em
.description-image
  margin-bottom: 1em
  max-width: 100%
form.button_to
  display: inline-block
blockquote.blockquote
  margin-bottom: 0px
