body
  //navbar height
  padding-top: 50px 
html.turbolinks-progress-bar::before
  background-color: $brand-primary !important
  height: 5px !important

.new-link
  margin-bottom: ms(0)
  +min-screen($phone-wide + 1)
    float: right

caption
  ul
    list-style: none

dt, th
  font-weight: bold
dd
  margin-bottom: 1em
.description-image
  margin-bottom: 1em
  max-width: 100%

table
  img
    max-width: 100px
td.search-btns
  text-align: right
  .btn-group
    min-width: 83px
td .btn-group
  min-width: 120px
th .form-group
  margin-bottom: 0

.index-table
  > thead
    border-bottom: 2px solid #ddd
    > tr > th
      vertical-align: top
      border-bottom: 0px
    > tr > td
      border-bottom: 0px
      border-top: 0px
.paginated-table
  margin-bottom: 0px !important

.btn-show, .btn-edit, .btn-destroy
  @extend .btn-sm

.btn
  padding: 4px 7px 5px
form.btn
  padding: 0
  button
    background-color: transparent
    padding: 6px 12px
  &.btn-sm
    button
      padding: 5px 10px

blockquote.blockquote
  margin-bottom: 0px

ul.counter
  li
    margin-bottom: ms(0)

.dropdown li
  button
    border-color: transparent
    background-color: transparent
    border-radius: 0
    display: block
    width: 100%
    text-align: left
    &:hover
      background-color: #e5e5e5

em
  font-style: italic

.navbar-brand
  text-transform: uppercase
  font-weight: bold
  &:hover
    .stayOut
      +animate(fadeIn, 0.2s, 0s, ease, both)
.stayOut
  +opacity(0)
.fadeOutSlow, .stayOut.fadeOutSlow
  +animate(fadeOut, 1s, 1s, ease, both)
.fadeOut
  +animate(fadeOut, 0.5s, 0s, ease, both)
.fadeIn
  +animate(fadeIn, 0.5s, 0s, ease, both)

.navbar-nav button
  background: transparent
  line-height: 20px
  padding: 10px 15px
  @media (min-width: 768px) 
    padding-top: 15px
    padding-bottom: 15px




#main
  margin-bottom: 3em
#main, #footer
  a, button
    text-decoration: underline
    &.label, &.btn
      text-decoration: none
    &.btn:hover
      background-color: $blue
      color: $white
      border-color: transparent

h2
  text-transform: uppercase

body 
  //margin-bottom: 3em
#footer 
  //position: absolute
  //bottom: 0
  //height: 3em
  background: $white
  width: 100%
  padding-top: 1em
  border-top: 1px solid $black

.btn-default:hover
  background: $blue


.form-control:focus
  border-color: $blue
  box-shadow: none
.form-control
  padding: 4px 7px 5px
  box-shadow: none
.form-group p
  margin-left: 6px

.label
  text-transform: uppercase
  border-radius: 0
.label-default
  color: $black
  border: 1px solid $black
//metum
.label-info
  color: $lightBlue
  border: 1px solid $lightBlue
//status
.label-partial
  color: $white
  background-color: $orange
.label-undescribed
  color: $white
  background-color: $darkGrey
//priorirty
a.label-default
  &:hover, &:focus
    color: $black
.label-priority
  color: $red
  border: 1px solid $red
a.label-priority
  &:hover, &:focus
    color: $red
.alert
  border: 0px

.nav-tabs
  @media (min-width: 768px) 
    li
      font-size: 32px
      line-height: 41.6px
      margin-top: 21px
      margin-bottom: 21px
      a
        padding-top: 0
        padding-right: 26px
        padding-bottom: 0
      &:first-child:after
        content: "or"
        position: absolute
        right: -7px
        bottom: 3px
  li:first-child
    a
      padding-left: 0
  a
    text-decoration: none !important
  li.active a
    text-decoration: underline !important
input:focus:placeholder

.form-control:focus::-webkit-input-placeholder
  color: $darkGrey 
.form-control:-moz-placeholder:focus
  color: $darkGrey 
.form-control:-ms-input-placeholder:focus
  color: $darkGrey 
.form-control::-moz-placeholder:focus
  color: $darkGrey 

.close
  +opacity(1)
  color: $white !important !important
