body
  //navbar height
  padding-top: 50px 
html.turbolinks-progress-bar::before
  background-color: $brand-primary !important
  height: 5px !important

.new-link
  margin-bottom: ms(0)
  +min-screen($phone-wide + 1)
    float: right

caption
  ul
    list-style: none

dt, th
  font-weight: bold
dd
  margin-bottom: 1em
.description-image
  margin-bottom: 1em
  max-width: 100%

table
  img
    max-width: 100px
td.search-btns
  text-align: right
  .btn-group
    min-width: 75px
td .btn-group
  min-width: 120px
th .form-group
  margin-bottom: 0

.index-table
  > thead
    border-bottom: 2px solid #ddd
    > tr > th
      vertical-align: top
      border-bottom: 0px
    > tr > td
      border-bottom: 0px
      border-top: 0px
.paginated-table
  margin-bottom: 0px !important

.btn-show, .btn-edit, .btn-destroy
  @extend .btn-sm

.btn
  padding: 3px 6px
form.btn
  padding: 0
  button
    background-color: transparent
    padding: 6px 12px
  &.btn-sm
    button
      padding: 5px 10px

blockquote.blockquote
  margin-bottom: 0px

ul.counter
  li
    margin-bottom: ms(0)

.dropdown li
  button
    border-color: transparent
    background-color: transparent
    border-radius: 0
    display: block
    width: 100%
    text-align: left
    &:hover
      background-color: #e5e5e5

em
  font-style: italic

.navbar-nav button
  background: transparent
  line-height: 20px
  padding: 10px 15px
  @media (min-width: 768px) 
    padding-top: 15px
    padding-bottom: 15px




#main a, #footer a
  text-decoration: underline

h2
  text-transform: uppercase

#footer
  margin-top: 2em

.btn-default:hover
  background: $blue


.form-control:focus
  border-color: $blue
  box-shadow: none
.form-control
  padding: 3px 6px
  box-shadow: none
.form-group p
  margin-left: 6px
