.row
  .col-md-6
    %h2>
      Export spreadsheet of image records
      %small>
        %code .csv
    = button_tag export_organization_images_path(current_organization,format: "csv"), class: 'btn btn-primary' do
      Export
    = form_tag import_organization_images_path(current_organization), multipart: true, class: 'form-horizontal' do |f|
      %h2>
        Import images
        <small>via <code>.csv</code>, <code>.xls</code>, and <code>.xlsx</code></small>
      = file_field_tag :file, label: "Select your file"
      = button_tag type: "submit", class: "btn btn-primary disabled", data: { disaabled: true } do
        Upload
