- percentage = max.zero? ? 0 : (value / max.to_f) * 100

.progress
  .progress-bar.progress-bar-striped(role="progressbar" style="width: #{percentage}%"){aria: { valuenow: value, valuemin: 0, valuemax: max }}
    = number_to_percentage(percentage)
