%p You haven't been assigned any images.

- unless policy(Assignment).new?
  %p 
    Ask an admin to assign you some images. Meanwhile, you can #{link_to("review some approved descriptions",organization_descriptions_path(current_organization,q: { status_id_eq: 2 }))}, 
    and #{link_to("start describing images",organization_images_path(current_organization))}.
