- meta title: title

.index-outer
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}
          = title

      = list_of(current_user.organizations) do |org|
        = link_to(org.title,organization_path(org))

      = render partial: "new_organization"
