- meta title: title

.index-outer
  .index
    .index-inner
      %header
        %h1#page-title{tabindex: -1}
          = title

      = list_of(current_user.organizations) do |org|
        = link_to(org,organization_path(org))

        %h2.sr-only Actions
        = link_to new_organization_path, class: 'btn btn-primary new-link' do
          New Organization
