h1 When you switch to a new site you cannot go back. Are you sure you're done?

.title= link_to "No! I want to keep playing where I am!", game_clues_path(@game)
.title= link_to "Yes! I want to start at a new site.", finish_game_path(@game, confirm: true)

= render 'scavenger_hunt/players/end_game'
