.container
  .row
    .col-md-12
      #flash-messages
        -flash.each do |name, msg|
          %div{class: flash_class(name), role: "alert", id: "flash_#{name}"}
            %p
              =msg
              %button.close{"data-dismiss" => "alert", :type => "button"}
                .sr-only
                  Dismiss message
                %span{"aria-hidden" => "true"} ×
