%div.alert.alert-dismissible.fade.show(role="alert"){class: flash_class(flash_type),id: flash_id}
  = flash_message
  %button.close(type="button" data-dismiss="alert" aria-label="Close")
    <span aria-hidden="true">&times;</span>
