- if descriptions.count > 0
  %ul.counter
    -meta.each do |metum|
      - metum_descriptions = descriptions.where(metum_id: metum.id)
      - if metum_descriptions.count > 0
        %li>
          %span.label.label-info=metum.title
          - approved = metum_descriptions.approved.count
          - ready_to_review = metum_descriptions.ready_to_review.count
          - not_approved = metum_descriptions.not_approved.count
          -if approved > 0
            %span.label.label-success<
              =approved
              %span.sr-only approved,
          -if ready_to_review > 0
            %span.label.label-warning<
              =ready_to_review
              %span.sr-only ready to review,
          -if not_approved > 0
            %span.label.label-danger<
              =not_approved
              %span.sr-only disapproved
