%span.badge{title: "count"}=descriptions.count
%dl
  -meta.each do |metum|
    %dt=metum.title
    %dd<
      %span.label.label-success<
        =descriptions.where(metum_id: metum.id).approved.count
      %span.sr-only approved,
      %span.label.label-warning<
        =descriptions.where(metum_id: metum.id).ready_to_review.count
      %span.sr-only ready to review,
      %span.label.label-danger<
        =descriptions.where(metum_id: metum.id).not_approved.count
      %span.sr-only disapproved
