%footer#footer{role: "contentinfo"}
  .container
    .row
      .col-lg-12
        %h2.sr-only
          Footer
        %p>
          Brought to you by <a target="_blank" href="//mcachicago.org/">Museum of Contemporary Art Chicago</a>.
          %br
          -if current_user
            Check out our  
            =link_to "API", apipie_apipie_path
            with your authentication token
            %code=current_user.authentication_token
          
