%footer#footer{role: "contentinfo"}
  .container
    .row
      .col-lg-12
        %h2.sr-only
          Footer
        %p>
          Coyote is a project of the <a target="_blank" href="//mcachicago.org/">Museum of Contemporary Art Chicago</a> in collaboration with Prime Access Consulting. It has been generously supported by Lois and Steve Eisen.
        -if current_user
          %p>
            Check out our  
            =link_to "API", apipie_apipie_path
            with your authentication token
            %code=current_user.authentication_token
          
          %p>
            Add this
            = link_to 'Coyote bookmarklet', easymarklet_js('coyote')
            to your bookmarks and click it to add more images, describe them, and render their annotations
            %br
            %small
              Warning: this feature is in development
