-projectname = 'Coyote'
%footer{id: 'footer'}
  .container
    .row
      .col-md-12
        -#%a{href:"#top"}
        %a{href: "mailto:#{projectname}@seeread.info"}
          %i.fa.fa-fw.fa-support
          Support
