%footer#footer{role: "contentinfo"}
  .container
    .row
      .col-lg-12
        %p
          Brought to you by <a target="_blank" href="http://www2.mcachicago.org/">Museum of Contemporary Art Chicago</a>.
          
