= link_to image_path(@image) do
  - if @image.is_mca?
    = image_tag  @image.url, class: "description-image", id: "description-image", alt: @image.alt, data: {"canonical-id" => @image.canonical_id}
  - else
    = image_tag  @image.url, class: "description-image", id: "description-image", alt: @image.alt

-if @image.is_mca?
  %blockquote<
    %span{data: {"canonical-id" => @image.canonical_id}}
    %cite<
      %small
        %span.label.label-info Title
        from #{@image.website}
-else
  %p No title available.
