%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand(href="/")
    <span class="stayOut fadeOutSlow">C</span>o<span class="stayOut fadeOutSlow">y</span>o<span class="stayOut fadeOutSlow">te</span>

  %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    <span class="navbar-toggler-icon" />

  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.mr-auto
      = render partial: "navbar_items" if current_organization?
      = render partial: "drop_down_menu" if current_user
