.container
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "bs-navbar", "aria-expanded" => "false", "data-target" => "#bs-navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "../"} Coyote
  %nav#bs-navbar.collapse.navbar-collapse{role: "navigation"}
    %ul.nav.navbar-nav
      - models = ["websites", "meta", "statuses", "descriptions", "groups", "images"]
      - models.each do |m|
        -#%li.active
        %li
          = link_to  m.capitalize, send("#{m}_path"), title: "#{m.capitalize} Index"
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "mailto:coyote@seeread.info", title: "Support email", target: "_blank"}
          %i.fa.fa-fw.fa-support{title: "Life Preserver"}
          Support
