= dropdown_with_options current_user.organizations, label: current_organization? && current_organization.title || "Select an organization", id: 'select-organization' do |organization|
  = link_to organization.title, organization_path(organization)
