- extra_params = {} unless defined? extra_params
= segmented_control_for(record_filter.browser_pagination_link_params, title: 'Pagination') do |link_name, link_params|
  = link_to("#{link_name.to_s.titleize} Page", link_params.merge(extra_params))