- if queue
  .queue
    %h3<
      #{type} Queue
      -if queue.size > 0
        %span.sr-only<
          ,
        %span.badge= count if count
  -if queue.size > 0
    .well.well-sm
      .row
        %ul
          .isotope
            - queue.each_with_index do |item, idx|
              = render "quickview", type: type, item: item, idx: idx, queue: queue
  -if queue.size == 0
    %p This queue is empty.
