- if queue
  .queue
    %h3<
      - if count
        #{type}: #{number_with_delimiter count}
      - else
        #{type}
  -if queue.size > 0
    .row
      %ul
        .isotope
          - queue.each_with_index do |item, idx|
            = render "quickview", type: type, item: item, idx: idx, queue: queue
  -if queue.size == 0
    %p This queue is empty.
