---
http_interactions:
- request:
    method: get
    uri: https://api.travis-ci.org/repos/coyote-team/coyote/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Endpoint:
      - Travis::Api::App::Endpoint::Repos
      X-Pattern:
      - "/:owner_name/:name/builds"
      X-Oauth-Scopes:
      - public
      X-Accepted-Oauth-Scopes:
      - public
    body:
      encoding: ASCII-8BIT
      string: '[{"id":255354942,"repository_id":9942526,"number":"208","state":"finished","result":0,"started_at":"2017-07-19T17:32:58Z","finished_at":"2017-07-19T17:34:57Z","duration":119,"commit":"e1b271ef3a237efb5c34af147c440fc7749c4f6c","branch":"master","message":"More
        accurate feature test for logging in and out #106","event_type":"push"},{"id":255349499,"repository_id":9942526,"number":"207","state":"finished","result":0,"started_at":"2017-07-19T17:14:59Z","finished_at":"2017-07-19T17:17:19Z","duration":140,"commit":"b8bf165c49d238d712693e88b4e56b3e89a3475c","branch":"master","message":"Minor
        request API refactoring/test cleanup","event_type":"push"},{"id":255100452,"repository_id":9942526,"number":"206","state":"finished","result":0,"started_at":"2017-07-19T02:22:27Z","finished_at":"2017-07-19T02:24:36Z","durati[...]
